[user]
	name = Russ Meyerriecks
	email = rmeyerriecks@digium.com
[sendmail]
	smtpserver = zimbra.digium.com
	smtpuser = rmeyerriecks
	from = Russ Meyerriecks <rmeyerriecks@digium.com>
[color]
	diff = auto
[alias]
	ll = log --pretty=oneline --abbrev-commit --decorate
